body {
    font-family: Arial, sans-serif;
}

/* Estils de la barra de navegació */ 
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #aa3a22;
    padding: 7px;
}

.navbar a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #cc4b33;
}

/* Valors per la barra de navegació superior */
.navbar.superior {
    border-bottom: 1px solid #aa3a22;
    display: flex;
    justify-content: center; 
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: #f2f2f2;
}

/* Valors per la barra de navegació inferior */
.navbar.inferior {
    border-top: 1px solid #aa3a22;
    margin-top: -1px;
    padding: 5px 10px;
}

/* Eslogan de la pàgina */
h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #d64c2d;
    padding: 14px 16px;
}

h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #cc4b33;

}

/* Estils del menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown img:hover {
    background-color: #cc4b33;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #aa3a22;
    min-width: 160px;
    z-index: 1;
    border: 2px solid black;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #cc4b33;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para el formulario de inicio de sesión */
#iniciar-sessio, #iniciar-sesion {
    width: 300px; /* Ajusta el ancho */
    margin: 50px auto; /* Espacio desde arriba y centrado horizontalmente */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-radius: 5px;
}
.contenedor-input {
    margin-bottom: 15px;
    text-align: left;
}

.contenedor-input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.contenedor-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contenedor-input input:focus {
    border-color: #66afe9;
    outline: none;
}


.button {
    background-color: #007bff;
    color: white;
    padding: 8px 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #0056b3;
}

.tablaUsuarios {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
}

.tablaUsuarios th, .tablaUsuarios td {
    border: 1px solid #ddd;
    padding: 8px;
    width: auto; 
}

.tablaUsuarios th {
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
}

.tablaUsuarios tr:hover {
    background-color: #f1f1f1;
}

.botonindex {
    background-color: #cc5a4a;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    width: 40%;
}

.botonindex:hover {
    background-color: #882a1a;
}

.missatge {
    border: 2px solid #ccc;
    padding: 5px;
    margin: 10px auto;
    width: 50%;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
}

/* Estilos de paginación */
.paginacio ul {
    list-style: none;
    text-align: center;
}

.paginacio ul li {
    display: inline-block;
    margin-right: 10px; 
}

.paginacio ul .active a {
    background: #cc4b33;
}

.paginacio ul .disabled {
    background: #c2bfbf;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 2px 2px;
    cursor: not-allowed;
    color: #fff;
    text-decoration: none;
}

.paginacio ul li a {
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px 20px;
    background: #424242;
    color: #fff;
    text-decoration: none;
}

.paginacio ul li a:hover {
    text-decoration: none;
    background: #842818;
}