RewriteEngine On

# Reescribe /gestio a index.php
RewriteRule ^inici$ /BackEnd/Pt04_Mark_Alvarez/index.php [L]

# Reescribe /login a /Vista/login.php
RewriteRule ^login$ /BackEnd/Pt04_Mark_Alvarez/Vista/login.php [L]

# Reescribe /signup a /Vista/signup.php
RewriteRule ^signup$ /BackEnd/Pt04_Mark_Alvarez/Vista/signup.php [L]

# Reescribe /gestio a /Vista/gestio.php
RewriteRule ^gestio$ /BackEnd/Pt04_Mark_Alvarez/Vista/gestio.php [L]

# Reescribe /logout a /Controlador/logout.php
RewriteRule ^logout$ /BackEnd/Pt04_Mark_Alvarez/Controlador/logout.php [L]

# Reescribe /insert a /Vista/insert.php
RewriteRule ^insert$ /BackEnd/Pt04_Mark_Alvarez/Vista/insert.php [L]

# Reescribe /insert a /Vista/modificar.php
RewriteRule ^modificar$ /BackEnd/Pt04_Mark_Alvarez/Vista/modificar.php [L]

RewriteCond %{REQUEST_URI} !^/BackEnd/Pt04_Mark_Alvarez/(index|Vista/|Controlador/)
RewriteRule ^.*$ /BackEnd/Pt04_Mark_Alvarez/index.php [L]